dotfiles.sublime-project
dotfiles.sublime-workspace
mpd/.mpd/playlists
mpd/.mpd/mpd.log
mpd/.mpd/mpdstate
mpd/.mpd/mpd.pid
mpd/.mpd/mpd.db
ncmpcpp/.ncmpcpp/error.log
scripts/monitor-control/
fonts/fonts/.*
