dotfiles.sublime-project
dotfiles.sublime-workspace
mpd/dot-mpd/playlists
mpd/dot-mpd/mpd.log
mpd/dot-mpd/mpdstate
mpd/dot-mpd/mpd.pid
mpd/dot-mpd/mpd.db
ncmpcpp/.ncmpcpp/error.log
scripts/monitor-control/
fonts/fonts/.*
